<div id="team_inputs">
    <form id="form" class="rounded p-3 form-horizontal" [formGroup]="teamForm">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Team name:</label>
        <input type="text" id="name" name="name" class="form-control col-sm-10" formControlName="name"
              [(ngModel)]="newTeam.name"  >
        </div>
      <div class="form-group row">
        <label for="invite code" class="col-sm-2 col-form-label">Invite code:</label>
        <input type="text" id="invitecode" name="invitecode" class="form-control col-sm-10"
               formControlName="invitecode" [(ngModel)]="newTeam.invitecode" ><br>
      </div>
  
      <input type="button" id="submit" name="submit" value="Submit"
             (click)="submitForm()"><br>
  
    </form>
</div>