.bracket {
  display: inline-block;
  padding: 20px;

  vertical-align: top;
  color: #CCCCCC;
}

.match {
  color: #FFFFFF;
  margin-bottom: 10px;
  padding: 5px;

  background-color: #2ca02c;
}

.match-text {
  font-family: BigNoodleTitlingOblique, serif;
  font-size: 20px;
}

.tab-content {
  overflow-x: scroll;
}

* {
  color: #FFF;
}

.tournament-match {
  background-color: #515151;
  margin: 10px 0;
}

.pouleCard {
  float: left;
  margin: 10px;
}

.pouleCards {
  column-count: 2;
}


.tournament-match > * {
  padding: 0 5px;
}

.match-content {
  display: flex;
  flex-direction: row;
}

.match-header {
  background-color: #616161;

  font-family: BigNoodleTitlingOblique, serif;
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
}

.header-team {
  width: calc(50% - 10px);
  display: inline-block;
}

.versus {
  width: 20px;
}

.team {
  width: calc(50% - 25px);
}

.center {
  width: 50px;
}

.sectionTitle {
  width: 100%;
  text-align: center;
}

#confirmBtn {
  margin-left: 10px;
}
