<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>Overview</ng-template>
        <ng-template ngbTabContent>
            <svg *ngIf="loadingFinished"
                 [attr.width]="tournament_width"
                 [attr.height]="tournament_height">
                <g *ngFor="let bracket of brackets; let bracket_index = index"
                   [attr.x]="bracket_width * bracket_index">

                    <g *ngFor="let match of bracket">

                        <!--Match rectangle-->
                        <rect [attr.x]="matchesX[match.id]"
                              [attr.y]="matchesY[match.id]"
                              [attr.width]="match_width"
                              [attr.height]="match_height"
                              fill="#000"
                              (click)="matchClicked(match)">
                        </rect>

                        <!--Match scores rectangle-->
                        <rect [attr.x]="matchesX[match.id] + match_width - score_width"
                              [attr.y]="matchesY[match.id]"
                              [attr.width]="score_width"
                              [attr.height]="match_height"
                              fill="#aaa">
                        </rect>

                        <line [attr.x1]="matchesX[match.id]"
                              [attr.y1]="matchesY[match.id] + match_height/2"
                              [attr.x2]="matchesX[match.id] + match_width"
                              [attr.y2]="matchesY[match.id] + match_height/2"
                              style="stroke: #222; stroke-width:2px"
                        >
                        </line>

                        <!--Upper team name-->
                        <text fill="#FFFFFF"
                              [attr.x]="matchesX[match.id] + 5"
                              [attr.y]="matchesY[match.id] + match_font_size"
                              class="match-text"
                              [ngStyle]="{'font-size': match_font_size + 'px'}">
                            {{(match.opponents[0]?.team.name| slice:0:10) || '?'}}
                        </text>

                        <!--Upper team score-->
                        <text fill="000"
                              [attr.x]="matchesX[match.id] + match_width - score_width/2"
                              [attr.y]="matchesY[match.id] + match_font_size"
                              class="match-text"
                              [ngStyle]="{'font-size': match_font_size + 'px'}"
                              text-anchor="middle"
                        >0</text>

                        <!--Lower team name-->
                        <text fill="#FFFFFF"
                              [attr.x]="matchesX[match.id] + 5"
                              [attr.y]="matchesY[match.id] + match_height/2 + match_font_size"
                              class="match-text"
                              [ngStyle]="{'font-size': match_font_size + 'px'}">
                            {{(match.opponents[1]?.team.name | slice:0:10) || '?'}}
                        </text>

                        <!--Lower team score-->
                        <text fill="000"
                              [attr.x]="matchesX[match.id] + match_width - score_width/2"
                              [attr.y]="matchesY[match.id] + match_height/2 + match_font_size"
                              class="match-text"
                              [ngStyle]="{'font-size': match_font_size + 'px'}"
                              text-anchor="middle"
                        >0</text>

                        <!--Connection line to next match-->
                        <polyline *ngIf="match.parent_match_id"
                                  [attr.points]="generatePointString(match.id, match.parent_match_id)"
                                  style="fill:none;stroke:#555555;stroke-width:3px">
                        </polyline>

                    </g>
                </g>
            </svg>
        </ng-template>
    </ngb-tab>

    <!--////////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
    <ngb-tab>
        <ng-template ngbTabTitle>Active matches</ng-template>
        <ng-template ngbTabContent>
            <div>
                <div *ngFor="let match of tournament.matches" *ngIf="isMatchActive(match)"></div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

