<header class="page-header" [ngStyle]="{ 'background-image': 'url(' + gameservice.getActiveGame().header_img + ')'}">
    <div id="header-content">

        <img id="logo" src="/assets/img/computest.png"/>

        <div id="header_title" [routerLink]="['/']">
            <h1>Matchmaker</h1>
            <sub>v0.1</sub>
        </div>
    </div>
</header>

<div id="content-wrapper">
    <app-sidebar></app-sidebar>

    <div id="content-container" class="w-100">
        <div *ngIf="activeAccountService.isUserLoggedIn == false" id="login-warning">
            Je bent momenteel niet ingelogd. <a routerLink="/login">Klik hier</a> om in te loggen.
        </div>

        <div id="router-wrapper" class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


