<p>
  tournament-new works!
</p>

<div id="tournament_inputs">
  <form>
    Tournament name:<br><input type="text" name="name"><br>
    Date:<br><input type="date" name="date"><br>
    Type: <br><select>
            <option value="Single elimination"> Single elimination</option>
            <option value="Double elimination"> Double elimination</option>
            <option value="Poules"> Poules</option>
          </select><br>
    Allow teams:<br><input type="checkbox" name="allowTeams"><br>
    Signup type: <br><select>
            <option value="Invite only"> Invite only</option>
            <option value="User"> User</option>
            <option value="Guest"> Guest</option>
          </select><br>
    Signup start:<br><input type="date" name="signupStart"><br>
    Signup end:<br><input type="date" name="signupEnd"><br>
    Description:<br><input type="text" name="description" id="descriptionBox"><br>

  </form>

</div>
