<div id="tournament_inputs">
  <form id="form" class="rounded p-3 form-horizontal" [formGroup]="tournamentForm">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Tournament name:</label>
      <input type="text" id="name" name="name" class="form-control col-sm-10" formControlName="name"
            [(ngModel)]="newTournament.name"  >
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger  col-sm-10 offset-2">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">Date:</label>
      <input type="date" id="date" name="date" class="form-control col-sm-10"
             formControlName="date" [(ngModel)]="newTournament.tournament_start" ><br>
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger  col-sm-10 offset-2">
        <div *ngIf="date?.errors.required">
          Date is required.
        </div>
        <div *ngIf="date?.errors.futureDateInvalid">
          Tournament date is in the past.
        </div>
        <div *ngIf="date?.errors.signupStartInvalid">
          Tournament starts before signup starts.
        </div>
        <div *ngIf="date?.errors.signupEndInvalid">
          Tournament starts before signup ends.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label">Type:</label>
      <select id="type" class="form-control col-sm-10" [(ngModel)]="newTournament.tournament_typename"
              formControlName="tournament_typename" >
        <option value="Single elimination"> Single elimination</option>
        <option value="Double elimination"> Double elimination</option>
        <option value="Poules"> Poules</option>
      </select><br>
    </div>
    <div class="form-group row">
      <label for="teamSize" class="col-sm-2 col-form-label">Team size:</label>
      <input type="number" id="teamsize" name="teamsize" class="form-control col-sm-10"
             formControlName="teamsize" [(ngModel)]="newTournament.max_team_size" ><br>
      <div *ngIf="teamsize.invalid && (teamsize.dirty || teamsize.touched)"
           class="alert alert-danger  col-sm-10 offset-2">
        <div *ngIf="teamsize?.errors.required">
          Team size is required.
        </div>
        <div *ngIf="teamsize?.errors.teamsizeInvalid">
          Team size can't be lower than 1.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="signupType" class="col-sm-2 col-form-label">Signup type:</label>
      <select id="signupType" class="form-control col-sm-10" [(ngModel)]="newTournament.signup_typename"
             formControlName="signup_typename" (change)="updateButton()">
        <option value="Invite only"> Invite only</option>
        <option value="User"> User</option>
        <option value="Guest"> Guest</option>
      </select><br>
    </div>
    <div class="form-group row">
      <label for="signupStart" class="col-sm-2 col-form-label">Signup start:</label>
      <input type="date" id="signupStart" name="signupStart" class="form-control col-sm-10" required
             formControlName="signupStart" [(ngModel)]="newTournament.signup_start" ><br>
      <div *ngIf="signupStart.invalid && (signupStart.dirty || signupStart.touched)"
           class="alert alert-danger  col-sm-10 offset-2">
        <div *ngIf="signupStart?.errors.required">
          Signup Start is required.
        </div>
        <div *ngIf="signupStart?.errors.futureDateInvalid">
          Signup starts in the past.
        </div>
        <div *ngIf="signupStart?.errors.tournamentInvalid">
          Signup starts after the tournament begins.
        </div>
        <div *ngIf="signupStart?.errors.signupEndInvalid">
          Signup starts after signup ends.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="signupEnd" class="col-sm-2 col-form-label">Signup end:</label>
      <input type="date" id=signupEnd name="signupEnd" class="form-control col-sm-10" required
             formControlName="signupEnd" [(ngModel)]="newTournament.signup_end"><br>
      <div *ngIf="signupEnd.invalid && (signupEnd.dirty || signupEnd.touched)"
           class="alert alert-danger  col-sm-10 offset-2">
        <div *ngIf="signupEnd?.errors.required">
          Signup End is required.
        </div>  
        <div *ngIf="signupEnd?.errors.futureDateInvalid">
          Signup ends in the past.
        </div>
        <div *ngIf="signupEnd?.errors.signupStartInvalid">
          Signup ends before signup starts.
        </div>
        <div *ngIf="signupEnd?.errors.tournamentInvalid">
          Signup ends after the tournament begins.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <input type="text" name="description" id="description" class="form-control col-sm-10"
             formControlName="description" [(ngModel)]="newTournament.description" ><br>
    </div>

    <input type="button" [disabled]="!tournamentForm.valid" id="submit" name="submit" value="Submit"
           (click)="submitForm()"><br>

  </form>

</div>
