<h1 class="text-light">Tournaments</h1>

<div id="buttons">
  <button class="btn btn-success" [routerLink]="['/tournaments/new']">
    <fa style="color:#fff;" name="plus"></fa>
    Toernooi aanmaken
  </button>
</div>

<div id="tournament-list" class="mx-auto w-100 rounded p-1">


  <!--<h4>Tournaments</h4>-->
  <div class="p-1">
    <table class="table">
      <thead>
        <tr>
          <th>X</th>
          <th>Naam</th>
          <th>Type</th>
          <th>Signup einde</th>
          <th>Acties</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tournament of tournaments">
          <td>
            <input type="checkbox">
          </td>
          <td>{{tournament.name}}</td>
          <td>{{tournament.tournament_typename}}</td>
          <td>{{tournament.signup_end}}</td>
          <td>
            <button class="btn btn-info" [routerLink]="['/tournaments', tournament.id]">
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<!-- Tournaments user has been invited for -->
<div *ngIf="tournamentsInvitedFor.length > 0">
  <h1 class="text-light">Tournaments you have been invited for</h1>
  <div id="tournament-list" class="mx-auto w-100 rounded p-1">
    <div class="p-2">
      <table class="table">
        <thead>
          <tr>
            <th>X</th>
            <th>Naam</th>
            <th>Type</th>
            <th>Signup einde</th>
            <th>Details</th>
            <th>Doe mee</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let tournament of tournamentsInvitedFor">
            <td>
              <input type="checkbox">
            </td>
            <td>{{tournament.name}}</td>
            <td>{{tournament.tournament_typename}}</td>
            <td>{{tournament.signup_end}}</td>
            <td>
              <button class="btn btn-info" [routerLink]="['/tournaments', tournament.id]">
                Details
              </button>
            </td>
            <td>
              <button class="btn btn-success" (click)="enroll(tournament)">
                Doe mee!
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
