* {
    color: #000000;
}

#status-page {
  background-color: #464646;
  margin-top: 10px;
}

.jumbotron {
  height: 100px;
  padding-top: 20px;
  margin-bottom: 16px;
}

.btn {
  margin: 5px;
}

.guest{
  width: 100%;
}


table{
  width: 100%;
}
