<div *ngIf="tournament" id="status-page" class="rounded p-3">
    <div class="jumbotron container">
      <h2 class="text-center">{{tournament.name}}</h2>
      <p class="text-center">{{tournament.tournament_start}}</p>
    </div>

    <div class="card-group">
      <div class="card bg-light">
        <!--<div class="card-header">-->
          <!--Description-->
        <!--</div>-->
        <div class="card-body">
          {{tournament.description}}
        </div>
      </div>
      <div class="card bg-light">
        <button class="btn">
          Match Schedule
        </button>
        <button class="btn">
          Generate Match Schedule
        </button>
        <button class="btn">
          Settings
        </button>
        <button class="btn">
          Invite players
        </button>
      </div>
    </div>


    <div class="card bg-light mt-3">
      <div class="card-header text-center">
        Enrolled teams
      </div>
      <div class="card-body">
        <div id="team-table" class="table-responsive">
          <table class="table-hover">
            <thead>
              <tr>
                <th scope="col">Team name</th>
                <th scope="col">Leader name</th>
                <th scope="col">Additional members</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let enrollment of tournament.enrollments">

                <td>{{enrollment.team.name}}</td>
                <td>{{enrollment.team.team_leader.user_username}}</td>
                <td>fix this</td>
              </tr>
            </tbody>
          </table>


          <!--<div *ngFor="let enrollment of tournament.enrollments">-->
            <!--{{enrollment.team.name}}-->
          <!--</div>-->
        </div>
      </div>
    </div>



</div>
