<nav>
    <span id="navHead" [hidden]="state == 'inactive'">Navigatie</span>
    <span title="Back" id="navClose" (click)="toggleState()">
        <fa style="color:#ccc;" name="arrow-left" *ngIf="state == 'active'"></fa>
        <fa style="color:#ccc;" name="bars" *ngIf="state == 'inactive'"></fa>
    </span>

    <ul>
        <li class="navItem">
            <a [routerLink]="['/']">
                <fa name="home" style="color: dodgerblue;"></fa>
                <div class="item-name" [@expanded]="state">Home</div>
            </a>
        </li>

        <!--ITEMS REQUIRING LOGGED IN USER-->
        <li class="navItem" *ngIf="userService.isUserLoggedIn">
            <a [routerLink]="['/tournaments']">
                <fa name="flag-checkered" style="color: lawngreen;"></fa>
                <div class="item-name" [@expanded]="state">Toernooien</div>
            </a>
        </li>
        <li class="navItem" *ngIf="userService.isUserLoggedIn">
            <a>
                <fa name="trophy" style="color: yellow;"></fa>
                <div class="item-name" [@expanded]="state">Hall Of Fame</div>
            </a>
        </li>
        <li class="navItem" *ngIf="userService.isUserLoggedIn">
            <a [routerLink]="['/user', userService.activeUserId]">
                <fa name="sign-out-alt" style="color: red;"></fa>
                <div class="item-name" [@expanded]="state">My profile</div>
            </a>
        </li>
        <li class="navItem" *ngIf="userService.isUserLoggedIn">
            <a (click)="userService.logout()">
                <fa name="sign-out-alt" style="color: red;"></fa>
                <div class="item-name" [@expanded]="state">Log-out</div>
            </a>
        </li>

        <!--ITEMS REQUIRING NO LOGIN-->
        <li class="navItem" *ngIf="!userService.isUserLoggedIn">
            <a [routerLink]="['/login']">
                <fa name="sign-in-alt" style="color: green;"></fa>
                <div class="item-name" [@expanded]="state">Log-in</div>
            </a>
        </li>
        <li>
            <select class="" id="game-picker" [(ngModel)]='activeGame' (ngModelChange)='onGameChanged()' title="game" [@expanded]="state">
                <option class='option' *ngFor='let game of gameService.availableGames' [ngValue]="game">{{game.title}}</option>
            </select>
        </li>
    </ul>
</nav>
