nav {
  position: relative;
  display: inline-block;

  overflow:hidden;

  /*padding: .5rem 1rem;*/
}

#navHead {
  pointer-events: none;
  position: absolute;

  font-size: .75rem;
  text-align: center;

  width: 100%;
}

hr {
  border-top-color: #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  /*width: 9.5rem;*/

  line-height: 2rem;
}

li:not(:last-child) {
  border-bottom: 1px solid #888;
}

.navItem {
  height: auto;
  color: #FFF;
}

.navItem > a {
  display: block;
  white-space: nowrap;
  padding: 0 .5rem;
  text-decoration: none;
  color: inherit;
  /*font-weight: bold;*/
}

.navItem:hover {
  color: #ccc;
  background-color: #222;
}

#navClose {
  padding: 0 .5rem;
}

.item-name {
  display: inline-block;
}
