<div id="item-container">
  <div class="full-width item" id="trophy-container">
    <img id="trophy-image" src="/assets/img/trophy.png" alt="Throphy" width="100" height="100">

    <h1 class="centered title">Welcome!</h1>
  </div>

  <div class="full-width item" id="button-container">
    <div class="homepage-btn">
      <button class="btn-lg" (click)="goTournaments()">Tournaments</button>
    </div>
    <div class="homepage-btn">
      <button class="btn-lg" (click)="goTeams()">Teams</button>
    </div>
    <div class="homepage-btn">
      <button class="btn-lg" (click)="goProfile()">My Profile</button>
    </div>
  </div>

</div>
