.item {
  position: relative;
  background-color: #464646;

  padding: .5rem;
  margin: .5rem 0 0 0;

  border: 5px solid #353535;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

#item-container {
  display: flex;
  flex-flow: row wrap;

  color: #FFFFFF;
  height: 100%;
}

.centered {
  width: 100%;
  text-align: center;
}

#trophy-image {
  position: absolute;
  left: 5px;
  top: 5px;
}

#trophy-container {
  min-height: 120px;
}

#button-container {
  display: flex;
}

.btn-lg {
  width: 100%;
  min-height: 150px;

}

.homepage-btn {
  width: 33%;
  padding: 10px;
}
